 /* global */

@font-face {
  font-family: "OpenSansCondensed";
  src: url("static/Inter-Medium-slnt=0.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: ultra-condensed;
}

 * {
   font-family: 'Inter', sans-serif;
 }

body {
  margin: 0;
}

h3 {
  font-family: "OpenSansCondensed";
  font-size: 7rem;
  color: #E5E5E5;
  margin: 0 0 0 1rem;
}

h4 {
  font-family: "OpenSansCondensed";
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

a {
  font-size: 3rem;
  border-radius: 20px;
  padding: 1%;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.button {
  box-shadow: .5rem .5rem grey;
  cursor: pointer;
}

.filled-button {
  background-color: #C14A1A;
  color: white;
  width: fit-content;
}

.inverted-button {
  background: white;
  border: 2px solid;
  color: #C14A1A;
  cursor: pointer;

}

.page {
  width: 78vw;
}

.info-page {
  min-height: 100vh;
}

/* SVG */

/* Portrait */
#Shades {
  display: none;
}

#Star_Eyes {
  display: none;
}

/* navbar */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  height: 15vh;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 2;
}

.navbar img {
  height: 80%;
  width: auto;
  margin: 1rem 0 0 1rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-links a {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  text-decoration: none;
  z-index: 1;
}

 .current-page {
   /*background: url("./images/Highlight-Page-Name.svg");*/
   color: #E5E5E5;
   font-size: 5.5rem !important;
 }

 .highlight-current-page-navlink {
   position: absolute;
   display: none;
 }

/* navbar past landing page */
 .navbar-info {
   flex-direction: column;
   right: 2.5%;
   text-align: right;
   z-index: 10;
 }

#not-available {
  text-decoration: line-through;
}

/* Landing page */
#landing {
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#landing-portrait {
  height: 100%;
}

.landing-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.landing-button-group .filled-button {
  margin-right: 2rem;
}

.landing-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

#description {
  height: 100%;
  width: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.3rem;
  margin: 0 0 0 0;
}

h2 {
  font-size: 3.3rem;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

.upper {
  position: relative;
  right: 0;
  width: auto;
}

.upper a {
  text-decoration: none;
  font-size: 2rem;
  /* background-color: white; */
  /* color: #1BA7D3; */
}

.lower {
  width: auto;
  margin-top: auto;
}

.lower h3 {
  text-align: left;
  margin: 0 0 0 auto;
  visibility: hidden;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  z-index: -1;
}

/* my information (contains about and projects page) */
.my-info {
  width: 100%;
  z-index: 1;
}


/* About page */
#about {
  background-color: #5DBCD2;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}

#about h3 {
  position: relative;
  /*color: #276CD3;*/
  z-index: 1;
}

#about-picture {
  height: 60vh;
  margin-left: 1rem;
  z-index: 0;
}

#about .filled-button {
  border-bottom: 2px solid #5DBCD2;
  border-right: 2px solid #5DBCD2;
}

.about-content {
  margin-left: 2rem;
}

.about-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-picture-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.about-picture-container .filled-button {
  margin-top: 2rem;
  padding: 2%;
}

.about-svg {
  display: block;
}

.about-svg-lower {
  background-color: #363636;
}

.info {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 78vw;
}

.info p {
  font-size: 1.5rem;
  margin: 0;
  position: relative;
}

/* Projects page */
#projects {
  background-color: #363636;
  width: 100%;
  display: flex;
  justify-content: center;
}

#projects h3 {
  color: #474747;
}

.project-showcase {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem auto 10rem auto;
  width: 70vw;
}

.project {
  align-items: center;
  background-color: #d69fb8;
  display: flex;
  height: 50vh;
  justify-content: center;
  min-height: 450px;
  position: relative;
  width: 35%;
}

.project img {
  width: 80%;
}

.project-overlay {
  align-items: center;
  background-color: #d69fb8;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: .5s ease;
  width: 100%;
}

 .project-overlay .filled-button {
   border-bottom: 2px solid #d69fb8;
   border-right: 2px solid #d69fb8;
 }

 .project-overlay a {
   box-shadow: .4rem .4rem grey;
   font-size: 2rem;
   padding: 2%;
   text-decoration: none;
 }

 .project-buttons {
   display: flex;
   justify-content: space-evenly;
   width: 70%;
 }

 .project-description  {
   font-size: 1.5rem;
 }

 .project-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
 }

.project:hover .project-overlay {
  opacity: 0.95;
}

.project-year {
  margin: 0;
  position: absolute;
  right: 5%;
  top: 7%;
  transform: translateY(-100%);
}

.project-title {
  font-size: 3rem;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 7%;
  transform: translateX(-50%);
}

/* Footer */
.footer {
  background-color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@media only screen and (min-width: 800px) {
  h1, h2 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1310px) {
 h1, h2 {
   font-size: 5rem;
 }
}

@media only screen and (min-width: 1410px) {
 h1, h2 {
   font-size: 6rem;
 }
}

@media only screen and (min-width: 1515px) {
 h1, h2 {
   font-size: 7rem;
 }
}

@media only screen and (min-width: 1650px) {
  /* for large desktop screens */

  /* global */
  h1, h2 {
    font-size: 8.5rem;
  }

  h3 {
    color: #E5E5E5;
  }

  /* Navbar */

  .navbar-links {
    margin-left: auto;
  }

  .navbar-links a {
    padding-left: 3rem;
    /*padding-top: 3rem;*/
    font-size: 3rem;
  }

  .current-page {
    font-size: 7rem;
  }

  /* landing page */
  .page {
    width: 78vw;
    /*z-index: 1;*/
  }

  .upper a {
    font-size: 3rem;
    border-radius: 20px;
  }

  .lower h3 {
    visibility: visible;
    margin-top: auto;
  }

  /* About page */

  .info p {
    font-size: 2.5rem;
    width: 30rem;
  }
}

 @media only screen and (max-height: 800px) {

 }
