 /* global */
 * {
   font-family: 'Inter', sans-serif;
 }

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h3 {
  color: #E5E5E5;
  display: flex;
  margin: auto;
  text-align: center;
}

h4 {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

a {
  border-radius: 20px;
}

/* Animation */
.water-bubbles {
  bottom: 0;
  position: absolute;
}

@keyframes floatup {
  from {
    bottom: 0%;
  }

  to {
    bottom: 100%;
  }
}

/* SVG */
.about-svg-lower {
  padding-bottom: 5rem;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.button {
  box-shadow: .5rem .5rem grey;
  cursor: pointer;
  text-decoration: none;
}

.filled-button {
  background-color: #C14A1A;
  color: white;
  width: fit-content;
}

.inverted-button {
  background: white;
  border: 2px solid;
  color: #C14A1A;
  cursor: pointer;

}

.page {
  min-width: 78vw;
}

/* my information (contains about and projects page) */
.my-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

/* Footer */
.footer {
  background-color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

/* For vertical screen users */
@media only screen and (max-width: 600px) {
  h1, h2 {
    font-size: 4rem;
  }  
}

@media only screen and (max-width: 800px) {
  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  h3 {
    font-size: 3.5rem;
  }

  /* TODO: Check why this has a `!important` */
  .current-page {
    font-size: 4.5rem !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  h1, h2 {
    font-size: 5rem;
  }
 }

 @media only screen and (min-width: 1000px) {
  h1, h2 {
    font-size: 5rem;
  }
 }

@media only screen and (min-width: 1200px) {
 h1, h2 {
   font-size: 6rem;
 }
}

@media only screen and (min-width: 1310px) {
  .current-page {
    font-size: 5.5rem !important;
  }
}

@media only screen and (min-width: 1515px) {
  h1, h2 {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 1650px) {
  /* for large desktop screens */

  /* global */
  h1, h2 {
    font-size: 8.5rem;
  }

  h3 {
    font-size: 5rem;
  }
}
